/* Estilo "Día" */
:root{
    --fondo: white;
    --texto: rgb(23, 23, 23);
    --primario: rgb(13, 22, 118);
    --secundario: rgb(78, 176, 159);
}
/* Estilo "Noche" */
/* :root{
    --fondo: rgb(23, 23, 23);
    --texto: white;
    --primario: rgb(78, 176, 159);
    --secundario: rgb(13, 22, 118);
} */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.resetA, nav>a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--fondo);
    color: var(--texto)
}
.caja1{
    padding: 1em;
    margin-bottom: 1em;
}
#contenedor{
    max-width: 1100px;
    width: 70%;
    margin: 0 auto;
}
header{
    color:var(--primario)
}
header h1{
    font-size: 3em;
}
nav{
    display: flex;
}
nav a{
    padding: 1em;
    flex-grow: 1;
    background-color: var(--primario);
    color:var(--fondo);
    text-align: center;
    font-size: 1.2em;
}
nav a:hover{
    background-color: var(--secundario);
}
main{
    display: flex;
}
#mainDiv1{
    font-size: 2.5em;
}
section{
    line-height: 1.3em;
    font-size: 1.2em;
}
#accion{
    background-color: var(--secundario);
    display: flex;
    font-size: 1.5em;
    gap:2em;
    align-items: center;
}
#accion a{
    background-color: var(--fondo);
    padding: 1em;
}
#accion a:hover{
    background-color: var(--primario);
    color:var(--fondo);
}
footer{
    text-align: center;
}