body{
    margin: 0;
    background-color: #3d3d3d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor{
    width: 70vw;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
}
header{
    padding: 2em;
}
header h1{
    margin: 0;
}
nav{
    background-color: gray;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 2;
}
nav a{
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
nav a:first-child{
    padding-left: 2em;
}
nav a:hover{
    background-color: rgb(84, 84, 84);
}
.texto{
    padding: 2em;
}
#galeria{
    padding: 0 32px;
    line-height: 0;
    font-size: 0;
}
#galeria div{
    display: inline-block;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}
#galeria div img{
    width: 100%;
    cursor: pointer;
}
#galeria div img:hover{
    transform: translate(-15%, 15%);
    width: 130%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
    border: 10px solid white;
    border-bottom: 30px solid white;
}
footer{
    display: inline-block;
    padding: 2em;
    background-color: gray;
    color: white;
    font-size: 0.8em;
    width:100%;
    box-sizing: border-box;
    margin-top: 2em;
}
.top{
    display: inline-block;
    background-color: gray;
    text-align: center;
    box-shadow: 2px 2px 5px #2c2c2c;
    padding: 20px;
    position: fixed;
    right: 5%;
    bottom: 25px;
}
#subir{
    color:white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.6;
    transition: 0.5s;
}
#subir:hover{
    opacity: 1;
}