body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.contenedor{
    width: 70%;
    margin: 0 auto;
}
.box{
    background-color: yellow;
    overflow: auto;
}
.caja{
    height: 200px;
    width: 200px;
    float: right;
    border: 2px solid black;
    background-color: greenyellow;
    margin: 1em;
    /* display: inline-block; */
}
article{
    border: 2px solid black;
    width: 50%;
    padding: 1em;
    overflow: auto;
}
article img{
    float: right;
}
.overflow{
    width: 500px;
    height: 150px;
    border: 2px solid black;
    overflow: hidden;
    margin-bottom: 2em;
}
#over2{
    overflow: scroll;
}
#over3{
    overflow: visible;
}